header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    z-index: 3;
   
}

#navbar{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom-shadow: 8px rgba(0,0,0,0.1);
}

#nav_logo{
    height: 60px;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration:none;
    color: #252422;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 12px;
    padding: 7px;
    transition: color .3s ease;
    transition: background-color .3s ease;
    opacity: 90%;
    justify-content: center;
  
}
.nav-item.active a {
    border-bottom: 3px solid ;
}

.nav-item a:hover {
    color:#201F1D;
    background-color: #5bcffa;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
}