#home {
    display: flex;
    min-height: calc(100vh - 93px);
    padding: 40px 19%;
    align-items: center;
    justify-content: center;
    position: relative;
  
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    z-index: 3;
}

#cta .title{
    font-size: 4.3rem;
    color: #201F1D;
}

#cta .subtitle{
    font-size: 1.6rem;
    color: #201F1D;
    display:flex;
    gap:24px;
}

#cta_buttons a{
    text-decoration:none;
    font-size: 1.2rem;
  
}

#email_button {
    display:flex;
    gap: 8px;
    align-items: center;
    padding: 8px 14px;
    font-weight: 500;
    border-radius: 12px;
}
#banner{
    display:flex;
    align-items:start;
    justify-content: end;
    width: 70%;
    z-index:2;
}

#banner img {
   
    height: 100%;
    width: fit-content;
 
}

.shape {
    background-color: #5bcffa;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 33% 52% 14% 28%;
    padding: 40px 19%;
    z-index: 1;
    right: 0;
}
